.customModal {
  @import "bootstrap/scss/functions";
  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/mixins";
  @import "bootstrap/scss/modal";
  @import "bootstrap/scss/buttons";

  .modal-content {
    padding: 20px;
  }

  // Aplicando estilo corretamente ao botão dentro do modal
  .modalButtom {
    background-color: #8B5E3C !important; 
    color: rgb(255, 255, 255) !important;
    border: none;
    &:hover {
      background-color: #5B3A29 !important;
    }
  }
}
