@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')


.bg
    background-position: center
    background-size: cover
    position: fixed 
    top: 0
    left: 0
    width: 100vw 
    height: 100vh 
    overflow: hidden
    backdrop-filter: blur(10px)

#body-main
    margin: 0
    padding: 0
    height: 100vh
    touch-action: manipulation 

.divPai-login
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    flex-direction: column
    overflow: hidden 
    overscroll-behavior: none
    

.divpai-formulario-login
    width: 20%
    border-radius: 45px
    height: 31rem
    background: transparent
    position: relative 
    background: rgba(255, 255, 255, 0.2)
    font-family: "Open Sans", serif
    padding: 20px
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5)


    .dados-login
        display: flex
        justify-content: center
        align-items: center
        margin-top: 20px

    .form_title-login
        font-family: "Open Sans", serif
        font-size: 23px
        color: #ffffff

    .main-form
        margin-top: 10px
        font-family: "Open Sans", serif

        .nao-tem-uma-conta
            display: flex
            align-items: center
            justify-content: center
            font-family: "Open Sans", serif
            font-size: 14px
            margin-top: 10px

        .dados-formulario
            flex-direction: column
            display: flex
            justify-content: center
            align-items: center

            .form_label
                font-size: 16px
                padding: 10px
                color: #FAF3E0
                width: 100%
                font-family: "Bungee", serif

            #label-passoword
                margin-top: 30px

            .form_input
                width: 95%
                padding: 10px 15px
                font-size: 16px 
                border: 2px solid #ffffff
                border-radius: 10px
                outline: none
                transition: border-color 0.3s, box-shadow 0.3s
                background-color: #ffffff
                color: #333
                 
                
                &::placeholder 
                    color: #aaa
                    font-style: italic

                &:focus 
                    border-color: #5B3A29
                    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5)
                    background-color: #fff

                &:hover 
                    border-color: #5B3A29

@media screen and (max-width: 1024px)
    .bg
        max-height: 100vh

    .divPai-login
        .divpai-formulario-login
            width: 90vw
            height: auto 
            min-height: 50vh 
            padding: 20px 

            .main-form
                .form_input
                    width: 80vw
                    font-size: 16px 
