
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
    

body 
    margin: 0
    padding: 0
    overflow: hidden
    height: 100vh
    
    .divPai-login
        display: flex
        justify-content: center
        align-items: center
        background-color: rgb(250, 241, 241)
        height: 100vh
        flex-direction: column
        background: linear-gradient(135deg, #7843e6, mix(white, #7843e6, 20%))


        .divpai-formulario-login
            background-color: rgb(255, 255, 255)
            width: 25%
            border-radius: 45px
            font-family: "Bungee", serif
            height: 31rem

            .dados-login
                display: flex
                justify-content: center
                align-items: center
                display: flex
                margin-top: 20px
                

            .form_title-login
                font-family: "Open Sans", serif
                font-size: 23px
                color: #7843e6

            
            .main-form
                margin-top: 10px
                padding: 25px
            
                .nao-tem-uma-conta
                    display: flex
                    align-items: center
                    justify-content: center
                    font-family: "Open Sans", serif
                    font-size: 15px
                    margin-top: 10px

                .dados-formulario
                    flex-direction: column
                    display: flex
                    justify-content: center
                    align-items: center
                    display: flex

                    .form_label
                        font-size: 14px
                        padding: 10px
                        color: #7843e6
                        width: 100%

                    #label-passoword
                        margin-top: 30px
                        


                    .form_input
                        width: 95%
                        padding: 10px 15px
                        font-size: 14px
                        border: 2px solid #ccc
                        border-radius: 10px
                        outline: none
                        transition: border-color 0.3s, box-shadow 0.3s
                        background-color: #f9f9f9
                        color: #333


                        &::placeholder 
                          color: #aaa
                          font-style: italic



                        &:focus 
                          border-color: #7843e6
                          box-shadow: 0 0 8px rgba(0, 123, 255, 0.5)
                          background-color: #fff



                        &:hover 
                          border-color: #7843e6



