html, body
  height: 100%
  margin: 0
  padding: 0
    
.div-pageBook
    display: flex
    flex-direction: column
    width: 100vw
    overflow-x: hidden // Impede scroll horizontal
    background: url("../assets/2697235.jpg") no-repeat center
    background-size: cover
    overflow: auto
    position: relative
    width: 100vw
    min-height: 100vh

    
    > * 
        width: 100% // Garante que os filhos ocupem toda largura