@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Charm:wght@400;700&family=Kalnia+Glaze:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap')

.container-pageBook
    display: flex
    justify-content: center
    align-items: center
    background-color: rgb(250, 241, 241)
    height: 100vh
    flex-direction: column
    background: linear-gradient(135deg, #5B3A29, #A67B5B)
    
    
    

    .container-dados
        display: flex 
        background-color: #FAF3E0
        width: 80%
        border-radius: 30px
        height: 50rem
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
        
        
        

        .page-left,
        .page-right
            flex: 1
            padding: 50px

      
           
            
        .page-left 
            border-right: 1px solid #ccc
            max-height:  100%
            
            

            .left-title
                text-align: center
                color: #5B3A29
                font-family: "Charm", serif
                margin-bottom: 4rem   

                h4
                    margin-top: 2.2vw
                    color: #2A4D69
                    font-family: "Charm", serif
                    font-weight: 700
                    font-style: normal
                    font-size: 20px
                    

            .form-left
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                gap: 10px
                margin-top: 3vh 
                font-family: "Open Sans", serif
                flex-direction: row
                
               
               

                
                .form_label-left
                    display: flex
                    justify-content: center
                    text-align: center
                    color: #5B3A29
                    font-family: "Charm", serif
                    font-weight: 700
                    font-size: 30px
                    
                    
                    
                  
                    
                #label-left-livros
                    margin-top: 30px
                    

                .form_input-left
                    padding: 7px
                    display: flex
                    align-items: center
                    border: 2px solid #000000
                    border-radius: 10px
                    outline: none
                    transition: border-color 0.3s, box-shadow 0.3s
                    background-color: #f9f9f9
                    color: #333
                    

                    &::placeholder 
                        color: #aaa
                        font-style: italic



                    &:focus 
                      border-color: #2A4D69
                      box-shadow: 0 0 8px rgba(0, 123, 255, 0.5)
                      background-color: #fff



                    &:hover 
                      border-color: #2A4D69


                #livros
                    padding: 10px
                    font-size: 15px

                
    
        .page-right 
            
/* Responsividade */
@media (min-width: 376px) and (max-width: 768px)

    body 
        overflow: auto
        height: auto

        .container-pageBook 
            height: auto
            padding: 20px

            .container-dados 
                flex-direction: column
                width: 22rem
                height: auto

                .page-left,
                .page-right 
                    flex: unset
                    padding: 20px

             

                .page-right 
                    display: block
                    height: auto


                .page-left 
                    border-right: none
                    border-bottom: 1px solid #ccc
                    height: 100%
<<<<<<< HEAD
                    padding: 40px

                    .left-title
                        margin-bottom: 2rem
                        font-size: 20px

                        h4
                            font-size: 22px
                
            
                    .form-left 
                        gap: 5px
                        display: flex
                        flex-direction: column

                        .form_label-left 
                            font-size: 40px


                        .form_input-left 
                            font-size: 14px


                        #livros 
                            padding: 8px
                            font-size: 14px
    

@media (min-width: 0px) and (max-width: 375px)

    body 
        overflow: auto
        height: auto

        .container-pageBook 
            height: auto
            padding: 20px

            .container-dados 
                flex-direction: column
                width: 21rem
                height: auto

                .page-left,
                .page-right 
                    flex: unset
                    padding: 20px

             
        
>>>>>>> f0e973c235ebdb0f9bde509a7194e63f89a04ff0

                .page-right 
                    display: block
                    height: auto


                .page-left 
                    border-right: none
                    border-bottom: 1px solid #ccc
                    height: 100%
                    padding: 40px

<<<<<<< HEAD
                    .left-title
                        margin-bottom: 2rem
                        font-size: 20px
=======
                .form-left 
                    gap: 5px
                    flex-direction: column
>>>>>>> f0e973c235ebdb0f9bde509a7194e63f89a04ff0

                        h4
                            font-size: 22px
                
            
                    .form-left 
                        gap: 5px
                        display: flex
                        flex-direction: column

                        .form_label-left 
                            font-size: 40px


                        .form_input-left 
                            font-size: 14px


                        #livros 
                            padding: 8px
                            font-size: 14px
