html, body
  height: 100%
  margin: 0
  padding: 0
  width: 100%
    
.div-pageBook

  max-width:  100%
  min-height: 100%
  position: relative
  overflow-x: hidden
  overflow-y: auto


  > * 
      width: 100%


@media (max-width: 768px)
    .div-pageBook
        background-attachment: scroll 
